<suite thread-count="1" verbose="1" name="Saucedemo Testing">

    <test name="Saucedemo Login Page">
        <classes>
            <class name="Login_Function_Testing.SauceDemo_Runner"/>
        </classes>
    </test>

    <test name="Saucedemo Order Process">
        <classes>
            <class name="Products_Order.Order_Runner"/>
        </classes>
    </test>

</suite>
